h1{
    color: #ffff;
    font-size: 28px;
    font-weight: normal;
    font-family: "Impact";
    text-align:center;
    background-color:orange
}

p{
     color: black;
    font-weight: normal;
    font-family: "Impact";
    
}
h2{
    color: #ffff;
    font-weight: normal;
    font-family: "Impact";
    text-align:center;
    background-color:red
}
h3{
     color: #ffff;
    font-weight: normal;
    font-family: "Impact";
    text-align:center;
   background-color:deepskyblue
}

h5{
    color: aqua
}

table{
   
     background-color:lavenderblush
   
}

ol{
     background-color:lavenderblush
}

body{
    background-image: url(../images/furakutaru.jpeg);
    
}